::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-align: center;
  font-size: 48px;
}
h2 {
  margin-top: 20px;
}
main {
  margin: 50px auto;
  color: #fff;
  text-align: center;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#score {
  background-color: black;
}
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  cursor: pointer;
}
.circle {
  width: 150px;
  height: 150px;
  margin: 20px;
  background-image: url(fox.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.btn {
  border: none;
  border-radius: 40px;
  padding: 15px 50px;
  background-color: coral;
  box-shadow: none;
  margin: 0 20px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* Highlight circire */
.circle.active {
  width: 150px;
  height: 150px;
  background-image: url(tiger.png);
}

/* Modal Window */
.modal {
  color: #333;
  background-color: #fff;
  max-width: 460px;
  max-height: 560px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal h2 {
  margin: 30px 0;
}
.overlay {
  background-image: linear-gradient(#63e21a65, #c6d70e7b);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.overlay.visible {
  display: flex;
}
.overlay.hidden {
  display: none;
}

.close {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
